{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link href="{{ asset('./assets/css/home.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	{% block content %}
		<div class="container-fluid">

			<div class="row">
				<nav id="mainNavbar" class="col-lg-2 sidebar" style="background-color: #47657c; color:white;">

					<div
						class="container-fluid">

						<!-- Brand -->
						<a class="navbar-brand" href="./index.html">
							<img src="./assets/images/logoMobility.png" alt="" srcset="" height="50%" width="50%">
						</a>

						<!-- Navbar toggler -->
						<div class="mb-5">
							<a href="javascript: void(0);" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon text-light">
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewbox="0 0 16 16">
										<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
									</svg>
								</span>
							</a>
						</div>
						<!-- Collapse -->
						<div
							class="collapse navbar-collapse" id="sidenavCollapse">

							<!-- Navigation -->
							<ul class="navbar-nav mb-lg-7 mt-1">
								<li class="nav-item dropdown">
									<a class="nav-link active" href="{{path('publications')}}" role="button">
										<svg viewbox="0 0 24 24" class="nav-link-icon" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
											<path d="M3.753,13.944v8.25h6v-6a1.5,1.5,0,0,1,1.5-1.5h1.5a1.5,1.5,0,0,1,1.5,1.5v6h6v-8.25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
											<path d="M.753,12.444,10.942,2.255a1.5,1.5,0,0,1,2.122,0L23.253,12.444" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"></path>
										</svg>
										<span>Home</span>
									</a>
								</li>
								<li class="nav-item dropdown">
												<a class="nav-link text-light" href="{{ path('app_cree_post') }}" role="button">
													<span>Créer Post</span>
												</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link " href="#authenticationCollapse" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="authenticationCollapse">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" class="nav-link-icon" height="18" width="18">
											<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18.75 9.75H5.25C4.42157 9.75 3.75 10.4216 3.75 11.25V21.75C3.75 22.5784 4.42157 23.25 5.25 23.25H18.75C19.5784 23.25 20.25 22.5784 20.25 21.75V11.25C20.25 10.4216 19.5784 9.75 18.75 9.75Z"></path>
											<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.75 9.75V6C6.75 4.60761 7.30312 3.27226 8.28769 2.28769C9.27226 1.30312 10.6076 0.75 12 0.75C13.3924 0.75 14.7277 1.30312 15.7123 2.28769C16.6969 3.27226 17.25 4.60761 17.25 6V9.75"></path>
											<path stroke="currentColor" stroke-width="1.5" d="M12 16.5C11.7929 16.5 11.625 16.3321 11.625 16.125C11.625 15.9179 11.7929 15.75 12 15.75"></path>
											<path stroke="currentColor" stroke-width="1.5" d="M12 16.5C12.2071 16.5 12.375 16.3321 12.375 16.125C12.375 15.9179 12.2071 15.75 12 15.75"></path>
										</svg>
										<span>Mon Compte</span>
									</a>
									<div class="collapse " id="authenticationCollapse">
										<ul class="nav flex-column">
											<li class="nav-item dropdown">
												<a class="nav-link text-light" href="{{path('app_connexion')}}" role="button">
													<span>Connexion</span>
												</a>
											</li>
{% if app.user.roleUtlisateur == 'ROLE_ADMIN' %}
    <li class="nav-item dropdown">
        <a class="nav-link text-light" href="{{ path('app_dashboard_admin') }}" role="button">
            <span>Mon espace</span>
        </a>
    </li>
{% else %}
    <li class="nav-item dropdown">
        <a class="nav-link text-light" href="{{ path('dashboard_utilisateur') }}" role="button">
            <span>Mon espace</span>
        </a>
    </li>
{% endif %}
											<li class="nav-item dropdown">
												<a class="nav-link text-light" href="{{path('app_inscription_utilisateur')}}" role="button">
													<span>Inscription</span>
												</a>
											</li>
											<li class="nav-item dropdown">
												<a class="nav-link text-light" href="{{ path('app_connexion') }}" role="button">
													<span>Déconnexion</span>
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="nav-item w-100">
									<hr>
								</li>
								<li class="nav-item">
									<a href="./docs/index.html" class="nav-link">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download text-light" viewbox="0 0 16 16">
											<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
											<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
										</svg>
										<span>Notre Application</span>
									</a>
								</li>
							</ul>
							<!-- End of Navigation -->
						</div>
					</nav>
					<main class="col-lg-10">

						<div class="container-fluid d-flex justify-content-center mt-5">

							<div id="map" style="width: 1000px;px; height: 400px;" class="mb-3"></div>

							<!-- Modal de création de commentaires (en dehors de la boucle) -->
							<div class="modal fade" id="createCommentModal" tabindex="-1" role="dialog" aria-labelledby="createCommentModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="createCommentModalLabel">Ajouter un commentaire</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form method="POST" action="{{ path('comment', {'id': '__postId__'}) }}">
												{{ form_start(commentForm) }}
												{{ form_row(commentForm.contenuCommentaire) }}
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
												<button type="submit" class="btn btn-primary">Ajouter le commentaire</button>
												{{ form_end(commentForm) }}
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- fin du modal -->
						<div class="row">
							<div class="text-center">

								<p><img src="./assets/images/marker-svgrepo-comY.svg" alt="" height="20rem">ligne 1
									<img src="./assets/images/marker-svgrepo-comR.svg" alt="" height="20rem">ligne 2
									<img src="./assets/images/warning-svgrepo-com.svg" alt="" height="20rem">
									perturbation</p>
							</div>
							<div class="text-center"><input type="text" id="station-search" placeholder=" rechercher votre station" class="form-control">
							</div>
							<div class="row">
								{% for ligne in [1, 2] %}
									<div class="col-lg-6">

										<div class="card mt-5 text-center">
											<div class="card-header bg-{{ ligne == 1 ? 'warning' : 'danger' }}">
												<h2 class="text-light ">Ligne
													{{ ligne }}</h2>
											</div>

											{% for station in stations %}
												{% if station.ligne == ligne %}
													<div class="paddingZero">

														<div class="accordion" id="accordionPanelsStayOpenExample">
															<div class="accordion-item">
																<h2 class="accordion-header">
																	<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ station.idStation }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse{{ station.idStation }}">
																		<span class=" {{ ligne == 1 ? 'sep-container' : 'sep-container2' }}">
																			<span class="sep"></span>
																			<span class="circle">
																				<span class="circle-inner"></span>
																			</span>
																		</span>

																		<span class="nom-station">{{ station.nomStation }}
																			{% set stationImageDisplayed = false %}
																			{% set ascenseurDisplayed = false %}
																			{% set escalatorDisplayed = false %}
																			{% set forteAffluenceDisplayed = false %}
																			{% set travauxDisplayed = false %}

																			{% for post in posts %}
																				{% if post.idStation.nomStation == station.nomStation and post.idStation.ligne == station.ligne %}
																					{% if not stationImageDisplayed %}
																						<img src="./assets/images/warning-svgrepo-com.svg" alt="Logo de la station" class="warning-logo" height="auto" width="20rem">
																						{% set stationImageDisplayed = true %}
																					{% endif %}

																					{% if post.idCategorie.libCategorie == 'ascenseur' and not ascenseurDisplayed %}
																						<img src="./assets/images/elevator-2-svgrepo-com.svg" alt="Ascenseur" width="20rem" title="ascenseur en panne">
																						{% set ascenseurDisplayed = true %}
																					{% elseif post.idCategorie.libCategorie == 'escalator' and not escalatorDisplayed %}
																						<img src="./assets/images/escalator-svgrepo-com.svg" alt="Escalator" width="20rem" title="escalator en panne">
																						{% set escalatorDisplayed = true %}
																					{% elseif post.idCategorie.libCategorie == 'Forte affluence' and not forteAffluenceDisplayed %}
																						<img src="./assets/images/group-people-profile-user-person-svgrepo-com.svg" alt="Forte Affluence" width="20rem" title="forte affluence">
																						{% set forteAffluenceDisplayed = true %}
																					{% elseif post.idCategorie.libCategorie == 'Travaux' and not travauxDisplayed %}
																						<img src="./assets/images/construction-svgrepo-com.svg" alt="Travaux" width="20rem" title="travaux">
																						{% set travauxDisplayed = true %}
																					{% endif %}
																				{% endif %}
																			{% endfor %}

																		</span>
																	</button>
																</h2>
																<div id="panelsStayOpen-collapse{{ station.idStation }}" class="accordion-collapse collapse ">
																	<div class="accordion-body">
																		{% for post in posts %}
																			{% if post.idStation.nomStation == station.nomStation and post.idStation.ligne == station.ligne  %}
																				<div class="card mt-3">
																					<div class="card-header bg-light">
																						<h5 class="card-title">Publié par:
																							{{ post.idUtlisateur.prenomUtilisateur }}</h5>
																					</div>
																					<div class="card-body text-start">
																						<strong class="d-flex justify-content-start">Message:</strong>
																						<p class="card-text">
																							{{ post.contenuPost }}</p>
																						<strong class="d-flex justify-content-start">Station:</strong>
																						<p class="card-text metro-station">
																							{{ post.idStation.nomStation }}
																							- Ligne
																							{{ post.idStation.ligne }}</p>
																						<strong class="d-flex justify-content-start">Catégorie:</strong>
																						<p class="card-text">
																							{% if post.idCategorie.libCategorie == 'ascenseur' %}
																								<img src="./assets/images/elevator-2-svgrepo-com.svg" alt="Ascenseur" height="20rem">
																							{% elseif post.idCategorie.libCategorie == 'escalator' %}
																								<img src="./assets/images/escalator-svgrepo-com.svg" alt="Escalator" height="20rem">
																							{% elseif post.idCategorie.libCategorie == 'Forte affluence' %}
																								<img src="./assets/images/group-people-profile-user-person-svgrepo-com.svg" alt="Forte Affluence" height="20rem">
																							{% elseif post.idCategorie.libCategorie == 'Travaux' %}
																								<img src="./assets/images/construction-svgrepo-com.svg" alt="Travaux" height="20rem">
																							{% endif %}
																							{{ post.idCategorie.libCategorie }}
																						</p>
																					</div>
																					<ul class="list-group list-group-flush">
																						<li class="list-group-item">
																							<a class="btn btn-success" href="{{ path('post_confirm', {'id': post.idPost}) }}">
																								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewbox="0 0 16 16">
																									<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
																								</svg>
																								{{ post.postConfirmer }}
																							</a>
																							<a class="btn btn-danger" href="{{ path('post_infirm', {'id': post.idPost}) }}">
																								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewbox="0 0 16 16">
																									<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
																								</svg>
																								{{ post.postInfirmer }}
																							</a>
																						</li>
																						<li class="list-group-item">
																							<button type="button" class="btn btn-primary open-comment-modal w-50" data-toggle="modal" data-target="#createCommentModal" data-post-id="{{ post.idPost }}">
																								Ajouter commentaire
																							</button>
																							<button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#commentsCollapse{{ post.idPost }}">
																								Voir commentaires
																							</button>
																						</li>
																						<li class="list-group-item">
																							<div id="commentsCollapse{{ post.idPost }}" class="collapse text-start">
																								<h6>Commentaires :</h6>

																								{% for comment in commentsByPost[post.idPost] %}
																									<div class="card-header bg-light">
																										<h5 class="card-title">Commenté par:
																											{{ comment.idUtlisateur.prenomUtilisateur }}</h5>
																									</div>
																									<div class="card-body text-start">
																										<strong class="d-flex justify-content-start">Commentaire :</strong>
																										<p class="card-text">{{ comment.contenuCommentaire }}</p>

																										<ul class="list-group list-group-flush">
																											<li class="list-group-item">
																												<a class="btn btn-success" href="{{ path('comment_confirm', {'id': comment.idCommentaire}) }}">
																													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewbox="0 0 16 16">
																														<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06a.733.733 0 0 1 1.047 0l3.052 3.093l5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
																													</svg>
																													{{ comment.postConfirmer }}
																												</a>
																												<a class="btn btn-danger" href="{{ path('comment_infirm', {'id': comment.idCommentaire}) }}">
																													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewbox="0 0 16 16">
																														<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
																													</svg>
																													{{ comment.postInfirmer }}
																												</a>
																											</li>
																										</ul>
																									</div>
																								{% endfor %}

																							</div>
																						</li>
																					</ul>
																				</div>
																			{% endif %}
																		{% endfor %}

																	</div>
																</div>
															</div>
														</div>
													</div>
												{% endif %}
											{% endfor %}

										</div>
									</div>
								{% endfor %}
							</div>
						</main>
					</div>
				</div>

			{% endblock %}
			{% block javascripts %}
				<script src="{{ asset('./assets/javascript/home.js') }}"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
				<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
				<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
				<script>
					$(document).ready(function () { // Fonction pour filtrer les stations en fonction de la requête
function filterStations(query) { // Obtenir tous les éléments de station
var stations = $('.accordion');

// Filtrer les stations qui contiennent la requête/recherche dans le nom
var filteredStations = stations.filter(function () {
var stationName = $(this).find('.nom-station').text();
return stationName.toLowerCase().includes(query.toLowerCase());
});

// Masquer toutes les stations et ne montrer que celles filtrées
stations.hide();
filteredStations.show();

// Afficher la valeur saisie sur la page
$('#entered-value').text('Valeur saisie : ' + query);
}

// Écouteur d'événements pour le champ de saisie
$('#station-search').on('input', function () {
var query = $(this).val();
filterStations(query);
});


});
				</script>
			{% endblock %}
		{% endblock %}

